<div class="auth-container">
    <h2>Register</h2>
<form action="/register" method="POST">
    <div class="form-control">
        <label for="text">Name:</label>
        <input type="name" name="name" placeholder="type it your name" required>
    </div>

    <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="type it your email" required>
    </div>

    <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="type it your password" required>
    </div>

    <div class="form-control">
        <label for="confirmpassword">Confirme Password:</label>
        <input type="password" name="confirmpassword" placeholder="Confirm your password" required>
    </div>
    <input type="submit" value="Register">
    <p>You have account <a href="/login">Sign up</a> </p>
</form>

</div>