<div class="tought-form-container">
   <a href="/toughts/dashboard">Back</a>
   <h1>Create Tought:</h1>
   <form action="" method="POST">
    <div class="form-control">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Type it your tought">
    </div>

    <input type="submit" value="Create Tought">
   </form> 
</div>
